.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
}

#sup-search{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.search-and-add{
  order: 1;
}
.width-button{
  width: 100px;
}

#textarea-custom{
  border: 1px solid #d9d9d9;
  width: 100%;
}

.form-custom{
  border: 1px solid #d9d9d9;
}

/* .custom{
  border: 1px solid #d9d9d9;
  padding: 20px;
} */